venvs/*
!venvs/default/
venvs/default/*
!venvs/default/pyproject.toml
!venvs/default/uv.lock
!venvs/wrds/
venvs/wrds/*
!venvs/wrds/pyproject.toml
!venvs/wrds/uv.lock
data/*
!data/.gitkeep
.env
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.DS_Store
**/.DS_Store
__pycache__/
*.pyc